#header h1{ position: absolute;
left: 420px;
top:5px;
font-size: 3em;
font-family: 'Devonshire', cursive;
color: #E35335;}

#footer { background-color: #777;
height: 80px;
clear: both;}

h2 strong{ font-size: 2em;
font-weight: 900;}